.svg {
    width: 50px;
    height: 58px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px transparent;
    background: transparent;
    position: relative;
    transition: all 0.2s ease-in-out;
}
