.canvasWrap {
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.practiceCanvas-2d {
    display: block;
    object-fit: contain;
}
