.canvasWrap {
    /* width: 100%;
    max-width: 100%; */
    height: 100vh;
}

.practiceCanvas-2d {
    height: auto;
    max-height: calc(100vh - 350px);
    background: var(--blackColor);
    object-fit: contain;
}
